
*.sln
GOettelVSProject/.vs/GOettelVSProject/v17/.suo
*.pyproj
*.vsidx
*.lock
.vs/NCRN_Geospatial/v17/.suo
.vs/NCRN_Geospatial/v17/workspaceFileList.bin
.vs/slnx.sqlite
GOettelVSProject/GOettelVSProject/GOettelVSProject.pyproj.user
npdes_outfalls_layer.ziprsj5u1e4.tmp
